/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

body {
  color: black;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.loadingpage {
  position: absolute;
  z-index: 1000;
  width:100%;
  height: 100%;
  background: black;
  background-image: url("../assets/loadingpagetest.gif");
  background-size:cover;
  background-position: center;
  background-blend-mode: screen;

}

.insta {
background-size: cover;
background-position: center;

width:40%;
height: 40%;
margin-left:30%

}
.page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.box:hover {
  opacity: 0.8;
  cursor: pointer;
}

.background {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.leftbox {
  width: 40%;
  height: 100%;
  float: left;
}

.leftbox-top {
  width:100%;
  height:50vh;
  background-size:cover!important;
}

.character-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.character-one {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftbox-top-gif {
  background-size:cover;
}

.leftbox-bottom {
  width:100%;
  height:50vh;
}

.leftbox-bottom-gif {
  background: url("../assets/lines.gif");
  background-size:cover;
}

.rightbox {
  width: 60%;
  height:100%;
  float: right;
}

.rightbox-still {
 background: url("../assets/coralflicker.jpg");
 background-size: cover;
 background-repeat: no-repeat;
}

.rightbox-gif-two{
  background: url("../assets/waterdropstwo.gif");
  background-size: cover;
}

.rightbox-gif{
  background: url("../assets/coralflicker.gif");
  background-size: cover;
}

